<style type="text/css">
    div.topics p.switches {
        line-height: 1.8;
        text-align: right;
    }
    div.topics span#toggler {
        border-bottom: 1px dotted black;
        cursor: pointer;
    }
    div.topics span#toggler:hover {
        border-bottom: 1px solid black;
    }
    div.topics span#colors {
        border-bottom: 1px dotted black;
        cursor: pointer;
    }
    div.topics span#colors:hover {
        border-bottom: 1px solid black;
    }
    div.topics h3 {
        font-size: 1.6em;
        font-weight: bold;
        line-height: 1.4;
        text-align: center;
    }
    div.topics img {
        display: block;
        margin: 3.5em auto 1.0em;
        max-width: 60%;
    }
    div.topics div.topic {
        border: 1px solid black;
        border-radius: 5px;
        margin: 0 auto 2px;
        padding: 0;
    }
    div.topics div.topic h4 {
        background-color: #efefef;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.85em;
        font-weight: normal;
        margin: -1px;
        padding: 10px;
        transition: height 1s ease;
    }
    div.topics div.topic h4:hover {
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
    }
    div.topics div.topic h4.nowrap {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    div.topics div.topic h4 span {
        display: inline-block;
        font-family: monospace;
        font-weight: bold;
        margin-right: 10px;
        transform: rotate(270deg);
        transition: transform 0.5s;
    }
    div.topics div.topic div.details {
        font-size: 0.85em;
        height: 0;
        overflow: hidden;
        transition: height 1s ease;
    }
    div.topics div.topic div.details hr {
        background: none;
        border: 0;
        border-top: 1px solid black;
        height: 1px;
        margin: 0 0 1.5em;
    }
    div.topics div.topic div.details ul {
        margin: 0 1.5em 1.5em;
    }
    div.topics div.topic div.details p {
        padding: 0 1.5em;
        margin: 0 0 1.5em;
        text-align: justify;
    }
    div.topics div.topic div.details p:first-child {
        margin-top: 1.5em;
    }
    p.last-update {
        font-size: 0.75em;
        margin-top: 7.0em;
    }

    {% for company_ID, color in COLORS.items()|sort %}
    .{{ company_ID }} h4.colors {
        background-color: {{ color.bg }} !important;
        color: {{ color.fg }} !important;
    }
    {% endfor %}
</style>
<script language="javascript" type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(event) {
        const elements = document.getElementsByClassName('topic-title');
        const toggler = document.getElementById('toggler');
        const colors = document.getElementById('colors');
        var toggler_action = 'unhide';

        for(let i = 0; i < elements.length; ++i) {
            elements[i].addEventListener('click', function() {
                let content = elements[i].nextElementSibling;

                if(content.clientHeight) {
                    this.firstChild.style.transform = 'rotate(270deg)';
                    this.classList.add('nowrap');
                    content.style.height = 0;
                } else {
                    this.firstChild.style.transform = 'rotate(360deg)';
                    this.classList.remove('nowrap');
                    content.style.height = `${content.scrollHeight}px`;
                }
            });
        }

        toggler.addEventListener('click', function() {
            for(let i = 0; i < elements.length; ++i) {
                var content = elements[i].nextElementSibling;

                if(toggler_action == 'hide') {
                    elements[i].firstChild.style.transform = 'rotate(270deg)';
                    content.style.height = 0;
                } else {
                    elements[i].firstChild.style.transform = 'rotate(360deg)';
                    content.style.height = `${content.scrollHeight}px`;
                }
            }

            if(toggler_action == 'unhide') {
                toggler_action = 'hide';
            } else {
                toggler_action = 'unhide';
            }
        });

        colors.addEventListener('click', function() {
            for(let i = 0; i < elements.length; ++i) {
                if(elements[i].classList.contains('colors')) {
                    elements[i].classList.remove('colors');
                } else {
                    elements[i].classList.add('colors');
                }
            }
        });
    });
</script>

<!-- -- >
<p>Uprzejmie informujemy, że prodecura zgłaszania się grup studenckich
   do wybranych tematów zostanie ogłoszona w&nbsp;drugiej połowie lutego.</p>
<!-- -->
<!-- -- >
<p>Od 22 lutego: <a href="https://kpz.pwr.edu.pl/rezerwacja-tematow-howto/">procedura wyboru tematów</a>.</p>
<!-- -->

<div class="topics">
    <p class="switches">
        <span id="toggler">Zwiń/rozwiń wszystkie opisy</span>
        <br />
        <span id="colors">Przełącz kolory</span>
    </p>

{% for company_ID, company in COMPANIES.items()|sort %}
  {% if company.logo %}
    <img src="{{ company.logo }}" alt="{{ company.name }}" />
  {% else %}
    <h3>{{ company.name }}</h3>
  {% endif %}
  {% for project in PROJECTS[company_ID]|sort(attribute='title') %}
    <div class="topic {{ company_ID }}">
        <h4 class="topic-title nowrap"><span>v</span>{% if project.available == '0' %}<s>{% endif %}{{ project.title }}{% if project.available == '0' %}</s>{% endif %}</h4>
        <div class="details">
            <p>{{ project.description }}</p>
            <hr />
            <p>
                <b>{% if project.polish_labels %}Planowane formy współpracy{%- else %}Support offered by company{% endif %}</b>:
                <ul>
                  {% for offer in project.offers %}
                    <li>{{ offer }}</li>
                  {% endfor %}
                </ul>
            </p>
            <p><b>{% if project.polish_labels %}Akceptowana wielkość grupy{%- else %}Accepted group size{% endif %}</b>: {{ project.sizes }}</p>
            <p><b>{% if project.polish_labels %}Dopuszczalny język projektu{%- else %}Acceptable project language{% endif %}</b>: {{ project.language }}</p>
            <p><b>{% if project.polish_labels %}Dostępna liczba grup{%- else %}Available groups{% endif %}</b>: {{ project.available }}/{{ project.groups }}</p>
            <p>
                <b>{% if project.polish_labels %}Dodatkowe uwagi{%- else %}Additional remarks{% endif %}</b>:<br />
                {{ project.appendix }}
            </p>
        </div>
    </div>
  {% endfor %}
{% endfor %}
</div>

<p class="last-update">Ostatnia aktualizacja: {{ last_update }}</p>
